Repository apollographql/apollo-federation-subgraph-compatibility, pull requests merged in 2022-08, with the labels that each got.

#138 @inaccessible and @tag directive cannot be namespaced
  README.md
  implementations/federation-jvm/pom.xml
  implementations/federation-jvm/src/main/java/com/apollographql/federation/compatibility/model/Product.java
  implementations/federation-jvm/src/main/java/com/apollographql/federation/compatibility/model/ProductDimension.java
  implementations/graphql-java-kickstart/pom.xml
  src/tests/inaccessible.test.ts
  src/tests/tag.test.ts
Labels: test

#142 add NestJS results
  README.md
  implementations/appsync/metadata.yaml
  src/utils/markdown.ts
Labels: documentation

#147 update router to the latest version
  docker-compose.yaml
  router.yaml
Labels: dependencies

#148 add StepZen results to README
  README.md
  implementations/stepzen/metadata.yaml
Labels: documentation

#151 fix jest testrunner to evaluate all results
  src/testRunner.ts
Labels: bug, test

#152 fix schema comparison tests
  CONTRIBUTORS.md
  src/tests/inaccessible.test.ts
  src/tests/introspection.test.ts
  src/tests/link.test.ts
  src/tests/override.test.ts
  src/tests/shareable.test.ts
  src/tests/tag.test.ts
  src/utils/client.ts
  src/utils/schemaComparison.ts
Labels: bug, test

#150 update @requires test to verify the functionality
  CONTRIBUTORS.md
  README.md
  implementations/_template_hosted_/products.graphql
  implementations/_template_library_/products.graphql
  implementations/apollo-server/index.js
  router.yaml
  src/tests/requires.test.ts
  subgraphs/users/index.js
  subgraphs/users/users.graphql
  supergraph.graphql
Labels: bug, test, schema change

#165 update product subgraph test schema with additional @key test cases
  CONTRIBUTORS.md
  README.md
  implementations/_template_hosted_/products.graphql
  implementations/_template_library_/products.graphql
  src/testRunner.ts
  src/tests/inaccessible.test.ts
  src/tests/key.test.ts
  src/utils/schemaComparison.ts
  supergraph.graphql
Labels: test, schema change

#169 support extend type and @extends directive syntax in tests
  src/tests/key.test.ts
Labels: test

#170 update key tests to ignore repeatable directive order
  src/tests/key.test.ts
Labels: test

#168 document how to run the tests against products subgraph without docker
  CONTRIBUTORS.md
  package-lock.json
  package.json
  subgraphs/inventory/package.json
  subgraphs/users/package.json
  supergraph-fed2.graphql
  supergraph-local.graphql
  supergraph-local.yaml
Labels: documentation

#172 update @key test to ignore resolvable parameter
  src/tests/key.test.ts
Labels: test

#174 simplify local mode development
  .gitignore
  CONTRIBUTORS.md
  package.json
  supergraph-local.graphql
  supergraph-local.yaml
Labels: documentation

#197 relax federated SDL comparison logic
  src/index.ts
  src/utils/schemaComparison.ts
Labels: type: test

#201 update README with latest test results
  README.md
Labels: type: documentation

#211 update apollo server to latest dependencies
  implementations/apollo-server/package-lock.json
  implementations/apollo-server/package.json
Labels: type: dependencies

#210 Upgrade caliban federation usage
  implementations/caliban/build.sbt
  implementations/caliban/src/main/scala/Main.scala
  implementations/caliban/src/main/scala/ProductApi.scala
  implementations/caliban/src/main/scala/ProductService.scala
  implementations/caliban/src/main/scala/UserService.scala
Labels: language: scala
