Repository apollographql/apollo-federation-subgraph-compatibility, pull requests merged in 2022-09, with the labels that each got.

#222 update graphql-ruby subgraph with latest schema changes
  .gitignore
  README.md
  implementations/ruby/Gemfile
  implementations/ruby/Gemfile.lock
  implementations/ruby/products.graphql
  implementations/ruby/server.rb
  src/tests/key.test.ts
  src/tests/override.test.ts
  src/tests/shareable.test.ts
Labels: language: ruby

#224 update compatibility test to report on error responses
  src/tests/inaccessible.test.ts
  src/tests/key.test.ts
  src/tests/override.test.ts
  src/tests/provides.test.ts
  src/tests/requires.test.ts
  src/tests/shareable.test.ts
Labels: type: test

#233 fixing router health check endpoint
  docker-compose.yaml
  router.yaml
  src/utils/client.ts
  supergraph.graphql
Labels: type: bug

#235 Add Helix implementation using `@apollo/subgraph`
  implementations/helix/Dockerfile
  implementations/helix/docker-compose.yaml
  implementations/helix/metadata.yaml
  implementations/helix/package-lock.json
  implementations/helix/package.json
  implementations/helix/products.graphql
  implementations/helix/src/index.ts
  implementations/helix/tsconfig.json
Labels: language: javascript, type: test

#237 Add sangria as library implementing GraphQL Federation
  .github/workflows/test-subgraph-sangria.yaml
  implementations/sangria/.scalafmt.conf
  implementations/sangria/Dockerfile
  implementations/sangria/README.md
  implementations/sangria/build.sbt
  implementations/sangria/docker-compose.yaml
  implementations/sangria/metadata.yaml
  implementations/sangria/products.graphql
  implementations/sangria/project/build.properties
  implementations/sangria/src/main/scala/Main.scala
  implementations/sangria/src/main/scala/graphql/AppContext.scala
  implementations/sangria/src/main/scala/graphql/Directives.scala
  implementations/sangria/src/main/scala/graphql/GraphQLSchema.scala
  implementations/sangria/src/main/scala/graphql/ProductGraphQLSchema.scala
  implementations/sangria/src/main/scala/graphql/UserGraphQLSchema.scala
  implementations/sangria/src/main/scala/http/GraphQLError.scala
  implementations/sangria/src/main/scala/http/GraphQLExecutor.scala
  implementations/sangria/src/main/scala/http/GraphQLServer.scala
  implementations/sangria/src/main/scala/model/ID.scala
  implementations/sangria/src/main/scala/model/Product.scala
  implementations/sangria/src/main/scala/model/User.scala
  implementations/sangria/src/main/scala/service/ProductResearchService.scala
  implementations/sangria/src/main/scala/service/ProductService.scala
  implementations/sangria/src/main/scala/service/UserService.scala
Labels: language: scala

#238 Update `async-graphql` for `@link` support and new docs.
  README.md
  implementations/async-graphql/Cargo.lock
  implementations/async-graphql/Cargo.toml
  implementations/async-graphql/metadata.yaml
Labels: language: rust
