Repository apollographql/apollo-federation-subgraph-compatibility, pull requests merged in 2022-11, with the labels that each got.

#255 graphql-go example integration
  .github/workflows/test-subgraph-graphql-go.yaml
  README.md
  implementations/graphql-go/Dockerfile
  implementations/graphql-go/docker-compose.yaml
  implementations/graphql-go/go.mod
  implementations/graphql-go/go.sum
  implementations/graphql-go/metadata.yaml
  implementations/graphql-go/model/models.go
  implementations/graphql-go/products.graphql
  implementations/graphql-go/resolver/data.go
  implementations/graphql-go/resolver/resolvers.go
  implementations/graphql-go/server.go
Labels: type: test, language: go

#256 Update Mercurius to latest Fed 2 tests
  implementations/mercurius/index.js
  implementations/mercurius/package-lock.json
  implementations/mercurius/package.json
  implementations/mercurius/products.graphql
Labels: language: javascript, type: test

#260 fix: update graphql-java-kickstart example with latest schema changes
  implementations/graphql-java-kickstart/pom.xml
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/FederatedSchemaConfiguration.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/federation/FederatedSchema.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/CaseStudy.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/DeprecatedProduct.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/Product.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/ProductDimension.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/ProductResearch.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/ProductVariation.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/model/User.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/resolvers/DeprecatedProductReferenceResolver.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/resolvers/ProductReferenceResolver.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/resolvers/ProductResearchReferenceResolver.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/resolvers/ProductResolver.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/resolvers/QueryResolver.java
  implementations/graphql-java-kickstart/src/main/java/graphql/kickstart/federation/compatibility/services/ProductService.java
  implementations/graphql-java-kickstart/src/main/resources/application.yml
  implementations/graphql-java-kickstart/src/main/resources/schemas/products.graphql
Labels: type: schema change, language: java / kotlin

#262 update link tests to verify imports
  README.md
  implementations/dgs/pom.xml
  implementations/graphql-go/go.mod
  implementations/graphql-go/go.sum
  implementations/graphql-kotlin/build.gradle.kts
  implementations/graphql-kotlin/src/main/kotlin/com/example/demo/model/DeprecatedProduct.kt
  implementations/graphql-kotlin/src/main/kotlin/com/example/demo/model/Product.kt
  implementations/graphql-kotlin/src/main/kotlin/com/example/demo/model/ProductResearch.kt
  implementations/graphql-kotlin/src/main/kotlin/com/example/demo/model/User.kt
  src/tests/link.test.ts
  src/tests/override.test.ts
Labels: type: test

#263 update pothos to use Apollo Server 4
  implementations/pothos/index.ts
  implementations/pothos/package-lock.json
  implementations/pothos/package.json
Labels: language: javascript
